/* Center content both horizontally and vertically using Flexbox */
.container {
    display: flex;                 /* Use flexbox layout */
    justify-content: center;      /* Center items horizontally */
    align-items: center;          /* Center items vertically */

    /*background-color: #F5CA5C;    /* Set light grey background color */
    /*color: #226687; /* Set text color (a shade of blue) */
}

.navi {
/background-color: #D4F451; /* Light blue background */
    color: #112432;            /* Text color (blue shade) */
}

/* Style navigation list */
nav ul {
    list-style-type: none; /* Remove bullet points from list items */
    margin: 10px;             /* Remove default margin */
    padding: 10px;     /* Remove default padding */
    display: flex;  /*Makes the stack across */
    justify-content: flex-start;    /*stop vertically*/
    gap: 30px;  /*Adds space between each link */
    place-content: center;
}

/* Change text color on hover for nav list items */

a:hover {
    color: #2aa9b9;
    text-decoration: underline;
    font-size:2.3rem;
    padding: 5px 10px;
    border-radius: 5px;

}

/* Navigation links styling */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin: 10px 0;
}

nav a {
    font-size: 1.5rem;
    font-family: serif;
    color: rgb(233, 190, 210);
    text-decoration: none;

}


/* Navigation Section Styling */
nav {
    background-color: #003366;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

/* Set the background color of the entire page */
body {
    background-color: #f0fff0; /* Soft green background */
}

H1{
    color:#063438 ;
}

p{
    color: azure;
}

/* Style for the logo image */
#hamlogo{
    height: 175px;
    clip-path: circle(100%) /* Maintain aspect ratio */
}

/* Style for the header content container */

#header{
    /*background-color:#D4F451 ;*/
}

table, th, td {
    border:1px solid black;
}

/*
.carbon-calculator {
    max-width: 350px;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 10px;
    font-family: Arial, sans-serif;
}

.carbon-calculator input {
    width: 100%;
    padding: 8px;
    margin: 8px 0 16px;
}

.carbon-calculator button {
    width: 100%;
    padding: 10px;
    background: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
.carbon-calculator button:hover {
    background: #1b5e20;
}

*/